{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! The big featured header }}
<header class="main-header {{#if @blog.cover}}" style="background-image: url({{@blog.cover}}){{else}}no-cover{{/if}}">
    <nav class="main-nav overlay clearfix">
        {{#if @blog.logo}}<a class="blog-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}" /></a>{{/if}}
        {{#if @blog.navigation}}
            <a class="menu-button icon-menu" href="#"><span class="word">Menu</span></a>
        {{/if}}
    </nav>
    <div class="vertical">
        <div class="main-header-content inner">
            <h1 class="page-title">{{@blog.title}}</h1>
            {{!-- <h2 class="page-description">{{!blog.description}}</h2> --}}
            <h2 class="page-description">Next Generation Counterinsurgency:<br>A Presidential Candidate’s Guide to Fighting ISIS</h2>
            <h4 style="color:white;">by Arnold Schuchter</h4>
        </div>
    </div>
    <a class="scroll-down icon-arrow-left" href="#content" data-offset="-45"><span class="hidden">Scroll Down</span></a>
</header>

{{! The main content area on the homepage }}
<main id="content" class="content" role="main">
    <div class="post">
       {{!--  <h2>About the Book</h2>
        <p>Refugees fleeing to Europe, Turkey, Lebanon and Jordan have thrust the long and bloody civil war in Syria, and decades of warfare and insurgencies in Afghanistan, Iraq, Yemen and Libya, into the 2016 presidential political campaign and the consciousness of voters. Less visible in the news are millions of displaced persons in the Middle East, more than 8 million just in Syria. Most of these refugees and displaced persons are trying to escape sectarian violence, Bashar Al-Assad’s brutal regime, the Islamic State (ISIS) and other jihadists, and countless insurgencies. In addition to fearing for their lives, these refugees have given up on prospects for peace, stability, jobs and economic improvement, and a future for themselves and their families.</p>
        <p>None of these crises in the Middle East and Africa have had any political, military or counterinsurgency solutions that have worked to contain terrorism and warfare, foster stabilization or sectarian reconciliation, and reduce the surge of refugees and displaced persons. Further destabilization looms in Syria as the result of Russia’s military buildup in support of Assad’s brutal regime and supposedly to fight ISIS. Both Russia and Iran have supported Assad for years. Iran’s strong financial and other support for Assad is likely to increase when sanctions are lifted as a result of its international nuclear deal.</p>
        <p><strong>NexGen COIN</strong> strategies include recommendations for: regional stabilization and reconciliation processes in the Middle East, including a major role for Saudi Arabia and Gulf countries; reforms and decentralization of the Iraqi government, with special provisions for supporting the goals of Iraqi Kurdistan; and creation of a 30-50 mile “narco-terrorism free zone” along the U.S. Mexico border specifically to keep out ISIS, narco- and other terrorists, transnational gangs, and criminal aliens.</p>
        <p>In addition to applauding Europe’s efforts to absorb refugees and assist transit countries to humanely process and aid them, NexGen COIN proposes creation of protected safehavens for displaced people and others still living in Syria, Iraq, Afghanistan, Yemen, and elsewhere in the Middle East. Organized and operated under the leadership of frontline advisors, these protected safehavens would provide training for local insurgents, function as NexGen COIN bases to battle and contain ISIS and other jihadists, and engage surrounding communities in economic and other needed development programs.</p>
        <p><strong>NexGen COIN</strong> strategies build on: lessons learned from decades of warfare and anti-jihadist counterinsurgencies (COIN) in the Middle East; years of dedicated work by U.S. military and other experts to revamp COIN doctrine and military rules of operations; U.S. expertise in advanced information technology, machine learning, artificial intelligence and communication technology; and special operations capabilities that can provide U.S. and other frontline advisors with unprecedented bottom-up decision-making and intelligence analysis capabilities. </p>
        <hr>
        <p><strong>Arnold Schuchter</strong> has been a city planner and international planning consultant who specializes in working with governmental and non-profit organizations involved in racial, economic, and human service challenges and crises. He has conducted U.S. and other studies of at-risk children, juvenile delinquency, mental health, U.S.-Mexico border security and immigration, and the impact of modern warfare on soldiers and civilians. </p>
        <p><a href="/contact">Contact the author.</a></p>
        <hr>
        <p>Start reading <a href="/preface"><strong>NexGen COIN: Next Generation Counterinsurgency</strong></a> now.</p>
        <hr>
        <h2>Table of Contents</h2>
        <ul>
        <li><a href="/about">About NexGen COIN</a></li>
        <li><a href="/preface">Preface</a></li>
        <li>Chapter 1: <a href="/chapter-1-isis-and-nexgen-coin/">ISIS and NexGen COIN</a></li>
        <li>Chapter 2: <a href="/chapter-2-isis-containment-and-protected-safehavens">ISIS Containment and <em>Protected Safehavens</em></a></li>
        <li>Chapter 3: <a href="/chapter-3-to-surge-or-not-to-surge">To Surge or Not to Surge</a> </li>
        <li>Chapter 4: <a href="/chapter-4-lessons-learned-in-the-anbar-awakening">Lessons Learned in the Anbar Awakening</a> </li>
        <li>Chapter 5: <a href="/chapter-5-us-iq-tests">U.S. I.Q. Tests</a></li>
        <li>Chapter 6: <a href="/chapter-6-lessons-learned-in-iraq">Lessons Learned in Iraq</a> </li>
        <li>Chapter 7: <a href="/chapter-7-hail-to-the-commander-in-chief">Hail to the Commander-in-Chief</a> </li>
        <li>Chapter 8: <a href="/chapter-8-wishful-counterinsurgency-thinking">Wishful Counterinsurgency Thinking</a> </li>
        <li>Chapter 9: <a href="/chapter-9-irans-proxy-wars-and-the-gulf-region">Iran’s Proxy Wars &amp; the Gulf Region</a> </li>
        <li>Chapter 10: <a href="/chapter-10-lessons-learned-in-yemen">Lessons Learned in Yemen</a> </li>
        <li>Chapter 11: <a href="/chapter-11-great-satan-and-the-iran-nuclear-deal">“Great Satan” and the Iran Nuclear Deal</a> </li>
        <li>Chapter 12: <a href="/chapter-12-isis-in-the-middle-east">ISIS in the Middle East</a> </li>
        <li>Chapter 13: <a href="/chapter-13-protected-safehavens-in-syria"><em>Protected Safehavens</em> in Syria</a> </li>
        <li>Chapter 14: <a href="/chapter-14-kurdish-wild-cards">Kurdish Wild Cards</a> </li>
        <li>Chapter 15: <a href="/chapter-15-lessons-learned-in-libya">Lessons Learned in Libya</a> </li>
        <li>Chapter 16: <a href="/chapter-16-coin-revisited-and-revamped">COIN Revisited and Revamped</a> </li>
        <li>Chapter 17: <a href="/chapter-17-nexgen-coin-protected-safehavens">NexGen COIN:  <em>Protected Safehavens</em></a> </li>
        <li>Chapter 18: <a href="/chapter-18-nexgen-coin-frontline-advisors-cyberwarriors">NexGen COIN: Frontline Advisors – <em>CyberWarriors</em></a></li>
        <li>Chapter 19: <a href="/chapter-19-nexgen-coin-empowering-bottom-up-leadership">NexGen COIN: Empowering <em>Bottom-up Leadership</em></a></li>
        <li>Chapter 20: <a href="/chapter-20-terrorism-threats-from-central-america-mexico/">Terrorism Threats from Central America &amp; Mexico</a> </li>
        <li><a href="/epilogue">Epilogue: Author's Journey</a></li>
        <li><a href="/bibliography">Bibliography</a></li>
        </ul> --}}
{{!--         {{#posts.[4]}}
          
        {{/posts.[4]}} --}}

        {{#foreach posts}}
            {{#has tag="front"}}
          <h3 class="first_title">{{title}}</h3>
          <div class="first_content">{{content}}</div>
            {{/has}}

        {{/foreach}}
    </div>
    {{! The tag below includes the post loop - partials/loop.hbs }}
    {{!> "loop"}}

</main>
